# Julia
/.julia/

# Generated plots
/examples/out/

# Quarto build outputs
/docs/slides/**/.quarto/
/docs/slides/**/*.html
/docs/slides/**/*_files/
/**/.playwright-cli/

!/docs/slides/**/assets/*
!/docs/slides/**/overlay-body.html
!/docs/slides/**/overlay-head.html

/.luarc.json

/output/playwright/*

!/docs/slides/templates/*.html
